@if (categoryList$ | async; as categoryList) {
<ion-grid>
  <ion-row>
    @for(category of categoryList; track category._id) {
    <ion-col size-xs="6" size-md="3" size-lg="2">
      <ion-card
        [routerLink]="['/category/', category.slug]"
        [queryParams]="{ id: category._id }"
      >
        <img
          [alt]="category.title"
          [src]="category.Image.path | assetImageUrl"
        />
        <ion-card-header>
          <ion-card-title>{{ category.title }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    }
  </ion-row>
</ion-grid>
} @else {
<app-skeleton-loading [items]="13"></app-skeleton-loading>
}
