ion-card {
  max-width: var(--card-width);
  height: 100%;
  padding: 0px;

  img {
    width: var(--card-width);
    max-width: var(--card-width);
    max-height: var(--card-width);
    height: var(--card-height);
  }

  ion-card-title {
    font-size: 1rem;
    font-weight: 600;
  }

  ion-card-header {
    padding: 6px;
  }

  ion-card-content {
    padding: 0 6px !important;
  }
}

.title {
  font-size: 1.2em;
  margin: 25px 0px 0px 25px;
}
